<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Mesero</span>
    </div>
</div>


<div class="card shadow-sm">
    <div class="card-body">
        <!-- Contenedor de las mesas -->
        <div class="mesas-container">
            <div *ngFor="let mesa of mesas" class="mesa-item text-center">
                <a href="javascript:void(0);" (click)="vermesas(mesa.id, $event)" class="mesa-link">
                    <img [src]="mesa.ocupada ? '../../../assets/mesas/mesa-ocupada.jpg' : '../../../assets/mesas/mesa-redonda.jpg'"
                        [alt]="mesa.ocupada ? 'Mesa ocupada' : 'Mesa activa'" class="mesa-icon mb-2" />
                    <hr>
                    <label>{{ mesa.numero }}</label>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Mensaje cuando no hay mesas disponibles -->
<ng-template #noData>
    <div class="text-center text-muted w-100">
        No hay mesas disponibles.
    </div>
</ng-template>